<div class="input-form">
  <h1><%= @client_name %> Projects</h1>
  <div>
      <p>Enter the project budgets below. Projects will pre-fill with previously used budget, and changes will be persisted.</p>
      <p>Leave the budget as "s" to skip generating that project report.</p>
  </div>
  <%= form_with url: "/budgets", method: :post, class: 'report-params', local: true, data: { turbo: false } do |form| %>
    <%= form.hidden_field :client_id, value: @client_id %>
    <%= form.hidden_field :client_name, value: @client_name %>
    <%= form.hidden_field :date, value: @date %>
    <table class="budget-table">
      <tr>
        <th>Project</th>
        <th>Budget</th>
      </tr>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project['name'] %></td>
          <td><%= form.text_field "budgets[#{project['name']}]", value: @prev_budgets[project['name']] || 's', onfocus: "this.value = ''" %></td>
        </tr>
      <% end %>
    </table>
    <%= form.submit 'Go!', data: { controller: 'toggle-display', action: 'click->toggle-display#disable' } %>
  <% end %>
  <%= link_to 'Run more reports', :root %>
<div>
